.recent-parent-container {
  background-color: rgba(240, 248, 255, 0.158);
}

.sub-recent-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

.recent-left-container {
  width: 600%;
}

.curve-container {
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem 0;
}

.curve-heading {
  font-size: 50px;
  font-weight: 700;
  padding: 1rem 5rem;
}

.curve-heading span {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 0.1rem 1rem 0.1rem 0.1rem;
}

.curve-description {
  font-size: 18px;
  line-height: 1.5;
  padding: 1rem 2rem 1rem 5rem;
  width: 90%;
}

.recent-right-container {
  overflow: hidden;
}
.project__mockup{
  width: 100%;
}


@media (max-width: 357px) and (min-width: 1px) {
  .curve-heading {
    padding: 1rem 2rem !important;
  }
  .curve-description {
    font-size: 16px !important;
    padding: 1rem 2rem !important;
  }
}

@media (max-width: 620px) {
  .sub-recent-container {
    flex-direction: column;
    padding: 3rem 0;
  }
  .recent-left-container {
    width: 100%;
  }
  .curve-heading {
    font-size: 30px;
    font-weight: 600;
    padding: 1rem 3rem;
  }

  .curve-description {
    font-size: 18px;
    padding: 1rem 3rem;
  }

  .recent-right-container {
    width: 100%;
    padding: 0;
  }
}

@media (min-width: 621px) and (max-width: 768px) {
  .sub-recent-container {
    flex-direction: column;
    padding: 3rem 0;
  }

  .recent-left-container {
    width: 100%;
  }

  .curve-heading {
    font-size: 30px;
    font-weight: 600;
    padding: 1rem 6rem;
  }

  .curve-description {
    font-size: 18px;
    padding: 1rem 6rem;
  }

  .recent-right-container {
    width: 100%;
    padding: 0 2rem;
  }
}

@media (max-width: 1000px) and (min-width: 769px) {
  .curve-description {
    width: 100%; 
  }
  
}

@media (min-width: 1025px) and (max-width: 999999px) {
  .recent-right-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .project__mockup{
    width: 90%;
  }
}