.parent_coming_soon_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.coming_soon_title {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 100;
}
.coming_soon_para {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 16px;
}

.coming-soon-button {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 1rem;
  color: #000000;
  text-decoration: underline;
  border-radius: 5px;
  padding-top: 0.5rem;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.coming-soon-button:hover {
  text-decoration: none;
}

@media (max-width: 525px) {
  .coming_soon_title {
    font-size: 2.2rem;
  }

  .coming_soon_para {
    text-transform: capitalize;
    font-weight: 300;
    font-size: 16px;
  }
}
