.tab-switcher-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1320px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  gap: 20px;
  margin: 1rem auto;
}

.tab-switcher-subtitle {
  margin-bottom: 2rem;
}

.tab-switcher-paragraph {
  transition: all ease-in-out 0.4s;
  padding: 0.3125rem 2rem;
  text-align: left;
}

.tab-switcher-paragraph:not(:last-child) {
  margin-bottom: 1rem;
}

.tab-switcher-image {
  transition: all ease-in-out 0.3s;
  width: 90%;
  height: auto;
  border-radius: 10px;
}

.tab-switcher-content {
  width: 50%;
}

.tab-switcher-heading {
  color: #333;
  font-size: 24px;
  margin-bottom: 1rem;
}

.tab-switcher-heading strong {
  font-weight: 800;
  font-size: 1.9rem;
}

.tab-switcher-buttons {
  display: flex;
}

.tab-number {
  color: #fff;
  background-color: #343a40;
  padding: 4px 7px;
  border-radius: 50%;
  display: inline-block;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  margin-right: 0.5rem;
}

.tab-switcher-button {
  display: flex;
  align-items: center;
  padding: 10px 36px;
  margin-bottom: -2px;
  border: none;
  cursor: pointer;
  background: transparent;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  font-weight: bold;
  transition: background 0.3s;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

.tab-switcher-button.active {
  background: #fff;
  margin-bottom: -2px;
  color: rgba(0, 0, 0, 0.8);
  border-top: 2px solid #f4f6f8;
  border-left: 2px solid #f4f6f8;
  border-right: 2px solid #f4f6f8;
}

.tab-switcher-button:hover {
  border-top: 2px solid #f4f6f8;
  border-left: 2px solid #f4f6f8;
  border-right: 2px solid #f4f6f8;
}

.tab-switcher-text-content {
  font-size: 16px;
  color: #333;
  border: 2px solid #f4f6f8;
}

.tab-switcher-text-inner {
  transition: all 0.4s ease-in-out;
  padding: 1rem 0;
}

.tab-switcher-image-container {
  width: 40%;
}


@media screen and (max-width: 663px) {
  .tab-switcher-container {
    flex-direction: column;
  }

  .tab-switcher-heading {
    font-size: 23.5px;
  }

  .tab-switcher-button {
    font-size: 14px;
    padding: 8px;
  }

  .tab-switcher-image {
    max-width: 90%;
    margin-top: 0.12rem !important;
  }

  .tab-switcher-content,
  .tab-switcher-image-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .tab-switcher-buttons {
    gap: 0;
  }
}

@media screen and (max-width: 900px) and (min-width: 664px) {
  .tab-switcher-button{
    padding: 10px;
  }
  .tab-switcher-container {
    width: 100%;
    padding: 20px;
    align-items: end;
  }

  .tab-switcher-content,
  .tab-switcher-image-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .tab-switcher-buttons {
    justify-content: center;
    flex-wrap: wrap;
  }

  .tab-number {
    margin-right: 0.2rem;
  }

  .tab-switcher-button {
    flex: 1;
    min-width: 100px;
  }

  .tab-switcher-image {
    max-width: 80%;
  }
}
